* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}


.cover {
    color:black;
    margin: auto;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 25em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    /* box-shadow: 1px 2px 9px green; */
    margin-top: 10px;
    margin-bottom: 20px;
}
.cover:hover{
    transition: 0.4s;
    box-shadow: 0 0 35px  white;
}

input {
    padding: 15px;
    border: 2px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
}
input:hover{
 font-weight: bold;
}

.buttonOlogin{
    transition: 0.5s;
    padding: 10px;
    font-weight: bold;
    color: white;
    border: none;
    font-size: 17px;
    cursor:pointer;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    border-radius: 5px;

}
.buttonOlogin:hover {
    letter-spacing: 0.50em;
    border-radius: 50px;
}

.headingsOfInputs{
font-weight: bold;
font-size: 16px;
text-align: left;
}
.disc:hover{
color: white;
font-weight: bold;
transition: 0.6s;

}
.impcontainer{
 background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );    width: 100%;
margin-top: -10px;
padding-top: 2em;
padding-bottom: 10em;
}
.cover{
    background-image: url("https://cdn.pixabay.com/photo/2017/12/24/14/27/geometric-3037028_960_720.png");

}


@media (max-width: 400px) {
    .cover{
width: 20em;
    }
}
@media (max-width: 310px) {
    .cover{
width: 15em;
    }
}